<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
</head>
<body>
<form action="/students" method="POST">
Name:
<input type="text" name="name">
<button type="submit"> delete record</button>
</form>
</body>
</html>