section#contact-info {
	font-size: .8em;
}

.job {
	background-color: #e9e5dc;
	padding: 1px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.job-list {
	font-size: .8em;
}

section#contact-info:hover {
    background-color: purple;
}

ul > li {color: blue;}